.grid {
    display: block;
    width: 100%;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .grid.wide {
        max-width: 644px;
    }
}
/* PC low resolution */
@media screen and (min-width: 1024px) and (max-width: 1239px) {
    .grid.wide {
        max-width: 984px;
    }
}

